<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.springBoot.druid.mapper.cluster.ClassMapper">

    <insert id="insert" parameterType="com.lc.springBoot.druid.model.Class">
        <selectKey resultType="java.lang.Integer" keyProperty="id" keyColumn="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into class(className) values(#{className})
    </insert>
</mapper>